// Button
.btn {
  padding: 13px 20px;
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  min-width: 150px;
  margin: 10px 15px;
  color: $color_white;
  font-size: 16px;
}

.btn:hover {
  opacity: 90%;
}

.btn-block {
  display: block;
  width: 100%;
  margin: 10px 0px;
}

// Colors
.btn-primary {
  background-color: $color_primary;
}

.btn-danger {
  background-color: $color_danger;
}
