// Font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

// Global
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

// Theme files
@import './variables.scss';

// UI Components
@import './buttons';
@import './inputs';
@import './layout';
@import './typography';

// Specific component files
@import './home/intro_card';
